body  {
  background:black;
  color:white;
}
#main{
  opacity:0.1;
  transition: all 1s ease-in-out;
  position:relative;
}

.controls{
  position:absolute;
  left:0px;
  top:10px;
  padding:6px;
  margin:2px 4px;
  width:180px;
  background:#222;
  border-radius:3px;
}
.controls input[type="text"]{
  width:160px;
  padding:2px; 
  border:1px solid white; 
}
.controls label{
  display:block;
}
#colorHistory{
  height:80px;
  overflow:hidden;
}
.colorHistoryBlock{
  width:33%;
  height:19px;
  border-top:1px solid black;
  float:left;
  cursor:pointer;
}
.control-group {
  margin-bottom:12px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.gallery-container{
  display:none;
}

button.editor-show {
  display:none;
}
button {
  cursor:pointer;
}

body.gallery button.gallery-show,
body.gallery #canvas-container{
  display:none
}

body.gallery button.editor-show,
body.gallery .gallery-container{
  display:block;
}

.gallery-container,
#canvas-container {
  left:200px;
  top:10px;
  cursor:crosshair;
  position:absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#overlay{
  opacity:0.5;
  position:absolute; 
  top:0px;
  left:0px;
}

#hetCanvas {
  border:1px solid white; 
}
