body  {
  background:black;
  color:white;
}
#main{
  opacity:0.1;
  transition: all 1s ease-in-out;
  position:relative;
}

body .blocker {
  color:black;
  z-index:2001;
}

/* controls*/
.controls{
  position:fixed;
  left:0px;
  top:10px;
  padding:6px;
  margin:2px 4px;
  width:180px;
  background:#222;
  border-radius:3px;
}
.controls input[type="number"],
.controls input[type="text"]{
  width:160px;
  padding:2px; 
  border:1px solid white; 
}
.controls input[type="text"].input-s{
  width:60px;
}

.controls label{
  display:block;
}
#colorHistory{
  max-height:250px;
  overflow:auto;
}
.colorHistoryBlock{
  width:33%;
  height:19px;
  border-top:1px solid black;
  display:inline-block;
  cursor:pointer;
}
.control-group {
  margin-bottom:12px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#textTool{
  display:none;
  position:absolute
}

.patternView{
  position:absolute; 
  width:400%; 
  height:30000px;
  top:0px;
  left:0px;
  background-color:black;
}
.patternViewCloser{
  position:fixed;
  top:8px;
  left:8px;
  padding:10px 20px;
  border:4px solid #ccc;
  background:white;
  color:black;
  cursor:pointer;
}



#translate-controls{
  padding:12px;
  background:#444;
  border:1px solid white;
  display:none;
}
.translate-hide, .no-display{
  display:none;  
}

body.scale #scale-tool,
.scale .scale-hide{
  display:block;
}
#scale-tool, .scale-hide, .scale .scale-show {
  display:none;
} 

body.import #import-controls,
.import .import-hide{
  display:block;
} 
#import-controls, .import-hide, .import .import-show {
  display:none;
} 


body.rotate #rotate-tool,
.rotate .rotate-hide{
  display:block;
} 
#rotate-tool, .rotate-hide, .rotate .rotate-show {
  display:none;
} 


body.translate .translate-show{ 
  display:none;
}
body.translate #translate-controls{ 
  display:block;
} 
body.translate .translate-show{ 
  display:none;
}
body.translate .translate-hide{ 
  display:block;
}

body.noScroll{
  overflow:hidden;
}
.noscroll-off{
  display:none
}
body.noScroll .noscroll-on{
  display:none
}
body.noScroll .noscroll-off{
  display:block;
} 
button.editor-show {
  display:none;
}
button {
  cursor:pointer;
}

body.gallery button.gallery-show,
body.gallery #canvas-container{
  display:none
}

body.gallery button.editor-show,
body.gallery .gallery-container{
  display:block;
}




/* gallery */
.gallery-item-toolbar{
  display:block
}

.gallery-item-toolbar .icon{
  font-size:40px;
  padding:8px;
  cursor:pointer;
  display:inline-block;
  opacity:0.5;
  transition: opacity 0.5s ease-in-out;
  margin-right:10px;

}
.gallery-item-toolbar .icon:hover{
  opacity:1;
}
 
.gallery-container{
  display:none; 
  padding-left:12px;
}

/* canvas editor */
.gallery-container,
#canvas-container {
  left:200px;
  top:10px;
  cursor:crosshair;
  position:absolute;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#overlay{
  opacity:0.5;
  position:absolute; 
  top:0px;
  left:0px;
  z-index:1000;
}

#hetCanvas {
  border:1px solid white; 
}

#import_container{
  position:absolute; 
  top:0px;
  left:0px;
  opacity:0.9;
  z-index:2000;
}


